@import '../bootstrap/bootstrap.scss';

/* assets */

/* btn */
.btn-border-radius-lg {
  border-radius: 3em;
}

/* header */
.header {
  padding-top: 2.5em;
  border-top: 3px solid #0C78F8;
}

.nav-link {
  color: #b9b9b9;
  display: inline-block !important;
  position: relative;
  padding: 0.5em 0em !important;
  margin: 0em 1em;
}

.nav-link.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #b9b9b9;
}

.nav-link.active {
  background-color: transparent !important;
  color: $gray !important;
}

/* hero */
.jumbotron {
  background-color: #fff !important;
  text-align: center;
}
.hello {
  font-size: 2.5em;
  display: inline;
  padding-bottom: 3em;
}
.typed-cursor{
    font-size: 2.5em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* floating side */
.floating-side {
  position: fixed;
  width: 300px;
  text-align: center;
  margin-top: 4em;
}


/* content */
.content-header {
  padding-left: .8em !important;
  padding-bottom: 0 !important;
  padding-top: 8em !important;
  border-bottom:.1em solid #F6F6F6;
}

.content {
  padding-bottom: 4.5em;
}

.content h1, .content h2, .content h3, .content h4 {
  margin-bottom: .8em;
}

.grid-title {
  text-align: left;
}
.grid-meta {
  text-align:left;
  margin-bottom: 2em;
}
.grid-excerpt {
  margin-bottom: 2.5em;
}

/* posts */
.post {
  margin-top: 4em;
  position: relative;
  z-index: 0;
  padding: 0px 3em;
  font-size: 1em;
  line-height: 1.5em;
}
.post-title a {
  color: $gray !important;
}
.post-image {
  margin-bottom: 2em;
  margin-top: 2em;
}

.post-image img {
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  max-width: 500px;
  border-bottom: none;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
}

.post-excerpt {

}
.post-footer {

}

/* footer */
.footer {
  padding-top:4em;
  padding-bottom: 1em;
  border-top:.1em solid #F6F6F6;
}
